*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:Arial, Helvetica, sans-serif;

}

body{

    background:linear-gradient(135deg,#1976D2,#42A5F5);

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

.login-container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.login-box{

    width:420px;

    background:white;

    padding:40px;

    border-radius:12px;

    box-shadow:0 5px 20px rgba(0,0,0,.25);

}

.login-box h1{

    text-align:center;

    color:#1976D2;

    margin-bottom:10px;

}

.login-box h3{

    text-align:center;

    color:#666;

    font-weight:normal;

    margin-bottom:20px;

}

.login-box hr{

    margin-bottom:25px;

}

.login-box label{

    display:block;

    margin-top:15px;

    margin-bottom:8px;

    font-weight:bold;

}

.login-box input{

    width:100%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:6px;

    font-size:15px;

}

.login-box input:focus{

    outline:none;

    border:2px solid #1976D2;

}

.login-box button{

    width:100%;

    margin-top:25px;

    padding:14px;

    border:none;

    border-radius:6px;

    background:#1976D2;

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

}

.login-box button:hover{

    background:#125ca3;

}