{% extends "base_medico.html" %}

{% block titulo %}
Pacientes
{% endblock %}

{% block contenido %}

<h2>👨 Pacientes</h2>

<p>Seleccione un paciente para ver su historial clínico.</p>

<br>

<form
method="GET"
action="{{ url_for('pacientes_medico.buscar_paciente') }}">

<input
type="text"
name="buscar"
placeholder="Buscar por nombre, apellido o CI">

<br><br>

<button>

🔍 Buscar

</button>

</form>

<br><br>

<table>

<thead>

<tr>

<th>Nombre</th>

<th>CI</th>

<th>Nacimiento</th>

<th>Género</th>

<th>Carpeta</th>

<th>Acciones</th>

</tr>

</thead>

<tbody>

{% for paciente in pacientes %}

<tr>

<td>

{{ paciente[1] }} {{ paciente[2] }}

</td>

<td>

{{ paciente[3] }}

</td>

<td>

{{ paciente[4] }}

</td>

<td>

{{ paciente[5] }}

</td>

<td>

{{ paciente[6] }}

</td>

<td>

<a
class="btn btn-editar"
href="{{ url_for('pacientes_medico.ver_paciente', id_paciente=paciente[0]) }}">

🩺 Abrir Historial

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}